<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Controller</title>
</head>
<body>
    <header>Zodiac Controller</header>
    <ul>
        <li><a href='/signs/fire'>Fire Signs</a></li>
        <li><a href='/signs/water'>Water Signs</a></li>
        <li><a href='/signs/air'>Air Signs</a></li>
        <li><a href='/signs/earth'>Earth Signs</a></li>
    </ul>
    <%- body %>
    
</body>
</html>