<h1>Air Signs</h1>
<ul>
    <% airSigns.forEach(sign=>{ %>
        <li> <a href='./air/<%= sign %>'><%= sign %></a></li>
    <% }) %>
</ul>

<h2>Characteristics:</h2>
<p>Creativity, Action, Adventure, Exciting, Easily Provoked </p>