<h1>Earth Signs</h1>
<ul>
    <% earthSigns.forEach(sign=>{ %>
        <li> <a href='./earth/<%= sign %>'><%= sign %></a></li>
    <% }) %>
</ul>

<h2>Characteristics:</h2>
<p>Grounded, Helpful, Practical, Realistic, Materialistic, Dependable </p>