<h1>Fire Signs</h1>
<ul>
    <% fireSigns.forEach(sign=>{ %>
        <li> <a href='./fire/<%= sign %>'><%= sign %></a></li>
    <% }) %>
</ul>

<h2>Characteristics:</h2>
<p>Passionate, Strong Emotions, Temperamental, Energetic, Accomplished, Interesting </p>