<h1>Water Signs</h1>
<ul>
    <% waterSigns.forEach(sign=>{ %>
        <li> <a href='./water/<%= sign %>'><%= sign %></a></li>
    <% }) %>
</ul>

<h2>Characteristics:</h2>
<p>Private, Mysterious, Psychic, Charming, Emotional, Sensitive </p>